/* NAVBAR */
.custom-navbar {
  padding: 0px 0px;
  border-bottom: 1px solid #eee;
}

/* LOGO */
.navbar-logo {
  height: 80px;
  width: 90px;
}

/* NAV LINKS */
.navbar-nav .nav-link {
  color: #333;
  font-weight: 500;
  padding: 10px 180px;
  position: relative;
  transition: color 0.3s ease;
  font-size: 17px;
}

/* ADD GAP BETWEEN NAV ITEMS */
.navbar-nav .nav-item {
  margin: 0 5px;
}

/* ACTIVE + HOVER */
.navbar-nav .nav-link:hover,
.navbar-nav .active-link {
  color: #00578c;
}

/* UNDERLINE ANIMATION */
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 2px;
  width: 0;
  height: 2px;
  background: #00578c;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .active-link::after {
  width: 60%;
}

/* DROPDOWN LINK */
.dropdown-link {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* DROPDOWN ICON (STATIC) */
.dropdown-icon {
  font-size: 12px;
  opacity: 0.7;
}

/* SHOW DROPDOWN ON HOVER (DESKTOP) */
@media (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 8px;
  }
}

/* MODERN DROPDOWN */
.modern-dropdown {
  border: none;
  border-radius: 14px;
  padding: 12px 0;
  min-width: 230px;
  backdrop-filter: blur(10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
  animation: fadeUp 0.25s ease;
}

/* DROPDOWN ITEM */
.modern-dropdown .dropdown-item {
  padding: 12px 24px;
  font-weight: 500;
  transition: all 0.25s ease;
}

/* DROPDOWN ITEM HOVER */
.modern-dropdown .dropdown-item:hover {
  background: #f4f9fd;
  color: #00578c;
  padding-left: 30px;
}

/* DROPDOWN ANIMATION */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* LINKEDIN BUTTON */
.linkedin-btn {
  background: #00578c;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all 0.3s ease;
}

.linkedin-btn:hover {
  background: #00578c;
}